
.DS_Store

ScatterSound.xcodeproj/project.xcworkspace/xcuserdata/pcperini.xcuserdatad/UserInterfaceState.xcuserstate

ScatterSound.xcodeproj/xcuserdata/pcperini.xcuserdatad/xcschemes/xcschememanagement.plist

ScatterSound.xcodeproj/xcuserdata/pcperini.xcuserdatad/xcschemes/ScatterSound.xcscheme
